################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Movies.Api/Movies.Api/bin
/Movies.Api/Movies.Api/obj
