<div id="wrapper">
  <section class="banner">
        <div class="container">
            <div class="text-holder">
                <div>
                    Welcome to Movie Hub!
                </div>
            </div>
        </div>
  </section>

     
  <section class="hero-block">
    <div class="app-content" >
      <router-outlet></router-outlet>   
    </div>
  </section>
  <footer id="footer">
    
        <div class="footer-bottom">
            <div class="container">
                <span class="copy">implemented by Leila Karimi</span>
            </div>
        </div>
  </footer>
</div>